@import 'common';

body {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 768px) {
    background-attachment: scroll;
  }
}

.flip-container {
  width: 100vw;
  height: 100vh;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;

  &.flip-it {
    .flipper {
      transform: rotateY(180deg);
    }
  }

  .flipper {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }

  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .front {
    transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(180deg);
  }
}

.inverted {
  a {
    color: #eee !important;

    &:hover {
      color: #fff !important;
    }
  }
}

.dream-404-container {
  @include VHCenter;

  display: flex !important;
  height: $ContainerHeight;

  .dream-404-image {
    padding-bottom: 10rem;
  }
}

.ui.menu.dream-menu {
  margin-left: 0;
  margin-right: 0;

  &.dream-socials {
    display: flex;
    flex-wrap: wrap;

    .item:first-child {
      padding-left: 0.5rem;
    }
  }

  .item {
    padding: 0.5rem;

    &:first-child {
      padding-left: 1rem;
    }

    i {
      margin: 0;
    }

    a {
      color: rgba(#000, 0.87);
    }
  }
}

.dream-header {
  position: relative;
  z-index: 999;

  .header-socials {
    padding-top: 0;
    padding-bottom: 0;

    .dream-socials {
      justify-content: center;
    }
  }
}

.dream-tags {
  .ui.label {
    margin: 0.5rem 0;
  }
}

.dream-categories {
  .ui.accordion {
    .ui.list {
      .item {
        padding-left: 1rem;
      }
    }
  }
}

.dream-grid {
  margin: 1rem !important;
  margin-top: 0 !important;

  .dream-column {
    .ui.card {
      width: 100%;
    }
  }
}

.ui.card.dream-card {
  &.inverted {
    background: #1b1c1d;

    .content {
      .header > a {
        color: #fff !important;
      }

      .meta {
        margin-top: 2em;
        color: rgba(#fff, 0.4);
      }

      .description {
        color: rgba(#fff, 0.87);
      }
    }
  }

  .content {
    .header > a {
      color: #000 !important;
    }

    .description {
      margin: 1.5rem 0 1rem 0;
      color: rgba(#000, 0.87);
    }
  }
}

.dream-paginator {
  position: fixed;
  top: -1rem;
  left: 10.5rem;
}

.continue-reading {
  opacity: 0.4;
}