<a href="{{ .Permalink }}">
  {{ if .Site.Params.backgroundImage }}
  <article class="ui raised card dream-card" style="box-shadow: none;">
  {{ else }}
  <article class="ui raised card dream-card">
  {{ end }}
  
    <div class="image">
      {{ if isset .Params "cover" }}
        <img src="/{{ .File.Dir }}{{ .File.TranslationBaseName }}/{{ .Params.cover }}" alt="{{ .Title }}" />
      {{ else }}
        <img src="/{{ .File.Dir }}{{ .File.TranslationBaseName }}/cover.jpg" alt="{{ .Title }}" />
      {{ end }}
    </div>
  

    <div class="content">
      <h2 class="ui medium header">
        {{ .Title }}
      </h2>
      <div class="description">
        {{ .Summary | plainify | htmlUnescape }}
        <span class="continue-reading">{{ i18n "continueReading" }}</span>
      </div>
      <div class="meta">
        <p class="date author">{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }} | {{ .Date.Format "02-01-2006" }}</p>
      </div>
    </div>
  </article>
</a>